<div class="container h-50 forgot-container">
    <!-- Feature Tabs -->
    <div class="row feture-tabs forgotpasswd-tab">       
      <div class="col-lg-6">
          <img src="assets/images/forgot-passwd.png" class="img-fluid img-side"/>
        </div>
      
      <div class="col-lg-6">
        <form [formGroup]="passResetForm" (ngSubmit)="submitForm()">
        <!-- Tab Content -->
      
        <div class="tab-content forgot-tab-content">
          <h3>Reset Password</h3>  
          
          <p class=" w-100 pe-2">Strong password required. Enter 8 - 256 characters. Do not include common words or names.
             Combine uppercase letters and lower case letters, numbers and symbols.
          </p>          
            
          <label for="newpassword" class="form-label">New Password</label>
          <div class="input-group input-group-merge">
              <input type="password" id="newpassword" formControlName="password" class="form-control input_field-icon" placeholder="Enter the new password">
              <div class="input-group-text" data-password="false">
                  <span class="password-eye"></span>
              </div>  
          </div>
          <small class="text-danger d-block"
            *ngIf="(passResetFormControl.password.touched || passResetFormSubmitted) && passResetFormControl.password.errors?.required">
            Password is required
          </small>  
              
    
          <label for="cnewpassword" class="form-label">Confirm New Password</label>
          <div class="input-group input-group-merge">
              <input type="password" id="cnewpassword" formControlName="passwordConfirmation" class="form-control input_field-icon" placeholder="Enter your password">
              <div class="input-group-text" data-password="false">
                  <span class="password-eye"></span>
              </div>
          </div>
          <small class="text-danger d-block"
            *ngIf="(passResetFormControl.passwordConfirmation.touched || passResetFormSubmitted) && passResetFormControl.passwordConfirmation.errors?.required">
            Confirmation Password is required
          </small>

            <div class="d-grid gap-0">
              <button class="reset-btn" role="submit" type="submit">Reset Password</button>
            </div>

              <div class="pass-forgot">
              <span class="text-center"><a routerLink="/login">Back to Log In</a></span>
              </div><!-- End tab content -->
          
        </div>
      </form>
      </div>

    </div><!-- End Feature Tabs -->
  </div>
  <!-- </section> -->
