<div class="modal-header modal-colored-header bg-primary">
    <h4 class="modal-title" id="primary-header-modalLabel"><i class="mdi mdi-onepassword text-white"></i>&nbsp;Forgot Password</h4>
    <button (click)="closeModal()" type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
</div>
<div class="modal-body">
    <form class="ps-3 pe-3" [formGroup]="requestForm" (ngSubmit)="submitForm()">                    
        <div class="mb-2">
            <p>Enter your email address and we'll send you an email with instructions to reset your password.</p>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email Address</label>
            <input class="form-control" type="email" id="email" formControlName="email" placeholder="Type the email address here">
            <small class="text-danger"
              *ngIf="(requestFormControl.email.touched || requestFormSubmitted) && requestFormControl.email.errors?.required">
              E-mail is required
            </small>
            <small class="text-danger"
              *ngIf="(requestFormControl.email.touched || requestFormSubmitted) && requestFormControl.email.errors?.email">
              Enter a valid email address
            </small>
        </div>  
        <div class="mb-3 text-center">
            <button class="btn btn-primary" type="submit" style="border-radius: 8px;"><i class="mdi mdi-mail text-white"></i> Request Reset Link</button>
        </div>                    
    </form>
</div>